@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

:root{
    --body-color : #efefef;
    --nav-color : #1876f2;
    --bg-color: #fff;
    --primary-color : #edf2fc;
    --secondary-color : #212121;
}

.dark-theme{
    --body-color : #0a0a0a;
    --nav-color : #000;
    --bg-color: #000;
}

body{
    background: var(--body-color);
    transition: background 0.3s;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-color);
    padding: 0.5rem 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo{
    max-width: 16rem;
    margin-right: 4.5rem;
}

.nav-left,.nav-right{
    display: flex;
    align-items: center;
}

.nav-left ul li{
    list-style: none;
    display: inline-block;
}

.nav-left ul li img{
    max-width: 2.8rem;
    margin: 0 1.5rem;
}

.nav-user-icon{
    margin-left: 3rem;
}

.nav-user-icon img{
    width: 4rem;
    border-radius: 50%;
    cursor: pointer;
}

.search-box{
    background: #efefef;
    max-width: 35rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
}

.search-box img{
    width: 1.8rem;
}

.search-box input{
    width: 100%;
    background: transparent;
    padding: 1rem;
    border: 0;
}

.online{
    position: relative;
}

.online:after{
    content: '';
    width: 0.7rem;
    height: 0.7rem;
    border: 0.2rem solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 1.3rem 5%;
}

.left-sidebar{
    /*background: #cbdffa;*/
    flex-basis: 25%;
    position: sticky;
    top: 7rem;
    align-self: flex-start;
    /*height: 100vh;*/
}

.right-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 7rem;
    align-self: flex-start;
    background: var(--bg-color);
    padding: 2rem;
    border-radius: 0.4rem;
    color: #626262;
}

.main-content{
    flex-basis: 47%;
}

.imp-links a ,
.shortcut-links a
{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    color: #626262;
    width: fit-content;
}

.imp-links a img{
    width: 2.5rem;
    margin-right: 1.5rem;
}

.imp-links a:last-child{
    color: #1876f2;
}

.imp-links{
    border-bottom: 0.1rem solid #ccc;
}

.shortcut-links a img{
    width: 4rem;
    border-radius: 0.4rem;
    margin-right: 1.5rem;
}

.shortcut-links p{
    margin: 2.5rem 0;
    color: #626262;
    font-weight: 500;
}

.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.8rem;
}

.sidebar-title h4{
    font-weight: 600;
    font-size: 1.6rem;
}

.sidebar-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 1.2rem;
}

.event{
    display: flex;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.event .left-event{
    border-radius: 1rem;
    height: 6.5rem;
    width: 6.5rem;
    margin-right: 1.5rem;
    padding-top: 1rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
}

.event p{
    font-size: 1.2rem;
}

.event a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #1876f2;
}

.event .left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size: 1rem;
    padding: 0.4rem 0;
}

.sidebar-ads{
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 0.4rem;
}

.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.online-list .online{
    margin-right: 1.5rem;
}

.online-list .online:after{
    top: unset;
    bottom: 0.5rem;
}

.online-list .online img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

/*main content*/
.story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.story{
    flex-basis: 18%;
    padding-top: 32%;/*16 / 9 - 1.77777 * 18 =32*/
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
}

.story img{
    position: absolute;
    width: 4.5rem;
    border-radius: 50%;
    top: 1rem;
    left: 1rem;
    border: 0.5rem solid #1876f2;
}

.story p{
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.4rem;
}

.story1{
    background-image: 
    linear-gradient(transparent, rgba(0,0,0,0.5)),
    url('../images/status-1.png');
}

.story2{
    background-image: 
    linear-gradient(transparent, rgba(0,0,0,0.5)),
    url('../images/status-2.png');
}

.story3{
    background-image: 
    linear-gradient(transparent, rgba(0,0,0,0.5)),
    url('../images/status-3.png');
}

.story4{
    background-image: 
    linear-gradient(transparent, rgba(0,0,0,0.5)),
    url('../images/status-4.png');
}

.story5{
    background-image: 
    linear-gradient(transparent, rgba(0,0,0,0.5)),
    url('../images/status-5.png');
}

.story.story1 img{
    top: unset; 
    left: 50%;
    bottom: 4rem;
    transform: translateX(-50%);
    border: 0;
    width: 3.5rem;
}

.write-post-container{
    width: 100%;
    background: var(--bg-color);
    border-radius: 0.6rem;
    padding: 2rem;
    color: #626262;
}

.user-profile{
    display: flex;
    align-items: center;
}

.user-profile img{
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.user-profile p{
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #626262;
}

.user-profile small{
    font-size: 1.2rem;
}

.post-input-container{
    padding-left: 5.5rem;
    padding-top: 2rem;
}

.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 0.1rem solid #ccc;
    background: transparent;
    resize: none;
}

.add-post-links{
    display: flex;
    margin-top: 1rem;
}

.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 3rem;
    font-size: 1.3rem;
}

.add-post-links a img{
    width: 2rem;
    margin-right: 1rem;
}

.post-container{
    width: 100%;
    background: var(--bg-color);
    border-radius: 0.6rem;
    padding: 2rem;
    color: #626262;
    margin: 2rem 0;
}

.post-container .user-profile span{
    font-size: 1.3rem;
    color: #9a9a9a;
}

.post-text{
    color: #9a9a9a;
    margin: 1.5rem 0;
    font-size: 1.5rem;
}

.post-text span{
    color: #626262;
    font-weight: 500;
}

.post-text a{
    color: #1876f2;
}

.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.active-icons div img{
    width: 1.8rem;
    margin-right: 1rem;
}

.active-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 3rem;
}

.post-profile-icon{
    display: flex;
    align-items: center;
}

.post-profile-icon img{
    width: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.post-row a{
    color: #9a9a9a;
}

.load-more-btn{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 0.1rem solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: 0.4rem;
}

.footer{
    text-align: center;
    color: #9a9a9a;
    padding: 1rem 0 2rem;
    font-size: 1.3rem;
}

.settings-menu{
    position: absolute;
    width: 90%;
    max-width: 35rem;
    /*height: 50rem;*/
    background: var(--bg-color);
    box-shadow: 0 0 1rem rgba(0,0,0,0.4);
    border-radius: 0.4rem;
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;
}

.settings-menu.settings-menu-height{
    max-height: 45rem;
}

.user-profile a{
    font-size: 1.2rem;
    color: #1876f2;
    text-decoration: none;
}

.settings-menu-inner{
    padding: 2rem;
}

.settings-menu hr{
    border: 0;
    height: 0.1rem;
    background: #9a9a9a;
    margin: 1.5rem 0;
}

.settings-links{
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
}

.settings-links .settings-icon{
    width: 3.8rem;
    margin-right: 1rem;
    border-radius: 50%;
}

.settings-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}

#dark-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background: #ccc;
    width: 4.5rem;
    border-radius: 1.5rem;
    padding: 0.2rem 0.3rem;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s , background 0.5s;
}

#dark-btn span{
    width: 1.8rem;
    height: 1.8rem;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}

#dark-btn.dark-btn-on{
    padding-left: 2.3rem;
    background: #0a0a0a;
}

/*-----------profile page-----------*/
.profile-container{
    padding: 2rem 15%;
    color: #626262;
}

.profile-container .cover-img{
    width: 100%;
    border-radius: 0.6rem;
    margin-bottom: 1.4rem;
}

.profile-details{
    background: var(--bg-color);
    padding: 2rem;
    border-radius: 0.4rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.pd-row{
    display: flex;
    align-items: flex-start;
}

.pd-image{
    width: 10rem;
    margin-right: 2rem;
    border-radius: 0.6rem;
}

.pd-row div h3{
    font-size: 2.5rem;
    font-weight: 600;
}

.pd-row div p{
    font-size: 1.3rem;
}

.pd-row div img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-top: 1.2rem;
}

.pd-right button{
    background: #1876f2;
    border: 0;
    outline: 0;
    padding: 0.6rem 1rem;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 0.3rem;
    margin-left: 1rem;
    cursor: pointer;
}

.pd-right button img{
    height: 1.5rem;
    margin-right: 1rem;
}

.pd-right button:first-child{
    background: #e4e6eb;
    color: #000;
}

.pd-right{
    text-align: right;
}

.pd-right a{
    background: #e4e6eb;
    border-radius: 0.3rem;
    padding: 1.2rem;
    display: inline-flex;
    margin-top: 3rem;
}

.pd-right a img{
    width: 2rem;
}

.profile-info{
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    margin-top: 2rem;
}

.info-col{
    flex-basis: 33%;
}

.post-col{
    flex-basis: 65%;
}

.profile-intro{
    background: var(--bg-color);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.4rem;
}

.profile-intro h3{
    font-weight: 600;
}

.profile-intro .intro-text{
    text-align: center;
    margin: 1rem 0;
    font-size: 1.5rem;
}

.profile-intro .intro-text img{
    width: 1.5rem;
    margin-bottom: -0.3rem;
}

.profile-intro hr{
    border: 0;
    height: 0.1rem;
    background: #ccc;
    margin: 2.4rem 0;
}

.profile-intro ul li{
    list-style: none;
    font-size: 1.5rem;
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
}

.profile-intro ul li img{
    width: 2.6rem;
    margin-right: 1rem;
}

.title-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-box a{
    text-decoration: none;
    color: #1876f2;
    font-size: 1.4rem;
}

.photo-box{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 1rem;
    margin-top: 1.5rem;
}

.photo-box div img{
    width: 100%;
    cursor: pointer;
}

.profile-intro p{
    font-size: 1.4rem;
}

.friends-box{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 1rem;
    margin-top: 1.5rem;
}

.friends-box div img{
    width: 100%;
    cursor: pointer;
    padding-bottom: 2rem;
}

.friends-box div{
    position: relative;
}

.friends-box div p{
    position: absolute;
    bottom: 0;
    left: 0;
}